.MealDetails{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    font-weight: bolder;
}
.description{
    font-style: italic;
    color: rgb(120, 120, 120);
}
.price{
    color: #cc4b18;
    font-weight: bold;
    font-size: 18px;
}
.amount{
    margin-right: 10px;
}
.amount-number{
    border: 1px solid rgb(80, 80, 80);
    display: inline-block;
    width: 30px;
    padding: 3px 7px;
    text-align: left;
}

.button-control{
    position: relative;
}

.button{
    padding: 10px 20px;
    background-color: #cc4b18;
    color: #fff;
    display: block;
    border: 1px solid #cc4b18;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 10px;
    transition: all .3s ease-in;
    position: absolute;
    right: 0;
}
.button:hover{
    background-color: #aa3608;
}