.header{
    width: 80%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 10%;
    background: #4d1601;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.logo{
    color: white;
    font-weight: 900;
}
.image{
    width: 100%;
    overflow: hidden;
}
.image img{
    width: 110%;
    object-fit: cover;
    max-height: 350px;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}