.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    background-color: #cc4b18;
    border-radius: 14px;
    border: 2.5px inset #99360f;
    color: #fff;
    cursor: pointer;
}

.button:active,
.button:hover{
    background-color: #da4206;
}

.cart{
    font-weight: 700;
    font-size: 16px;
}
.badge{
    background-color: white;
    color: #99360f;
    padding: 7px 10px;
    border-radius: 7px;
    font-weight: 900;
    font-size: 1rem;
}